{% extends 'base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p>created_time : {{ post.created_time }}</p>
    <hr>

    {% if post.image %}
        {# alt의 post.image는 이미지에 대한 텍스트 값 #}
        <img src="{{ post.image.url }}" alt="{{ post.image }}">
    {% endif %}


    <p>{{ post.content }}</p>
    <hr>
    <a href="{% url "products:index" %}" > 목록으로 돌아가기 </a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'products:update' post.pk %}">게시글 수정하기</a>

        <form action="{% url 'products:delete' post.pk %}" method="POST">
        {% csrf_token %}
            <input type="submit" value="삭제하기">
        </form>
    {% endif %}
{% endblock content%}